<div class=head style="background-image:url(<%- url_for(post.featured_image) %>)">
  <div class=title>
    <div class="container">
      <h2><%= (post.subtitle ? post.subtitle : post.title) %></h2>
    </div>
  </div>
</div>