/*
Dark Blue:      #004b59
Text Grey:      var(--grey)
light grey bg:  #f2f2f2
dark:           #24292e
                #586069
*/
body{margin:0 auto;font-family:'Ubuntu', arial;max-width:1350px;background:#fff;color:var(--dark);
--golden: #ffbc00;
--dark:#24292e;
--grey:#586069}
a, article, span, header, nav, nav .social, .menu li ul, .points li::after, .points li>div, .weather h3, article.pbox>div, .tourguide article>div, #i1, #i1 div{transition:all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1)}
a{text-decoration:none}
a:hover{color:var(--golden)}
noscript{text-align:center;display:block}

.container{width:1180px;margin:0 auto}
header{z-index:9;position:absolute;top:0;left:0;width:100%;height:80px;background:linear-gradient(to top,transparent,rgba(0,0,0,0.4))}
header.hide{top:-80px}
header.fixed{position:fixed;top:0;background:var(--golden);border-bottom:1px solid #dfa300}
header .logo{float:left}
.logo a{display:inline-block;width:180px;padding:15px 0}
.logo svg{width:100%;fill:#fff}
#burger{display:none;cursor:pointer;width:40px;height:40px;margin:11px 0 0 0;float:right;padding:5px 0 5px 10px;border:0;background:none;outline:none}
#burger svg{fill:#fff}
#burger svg use:last-child{display:none}
#burger.x svg use:last-child{display:block}
#burger.x svg use:first-child{display:none}
#burger.x{background-position-y:-113px}
header .social{display:none;position:absolute;bottom:0;width:100%;background:var(--golden)}
.menu, .menu ul{list-style:none;margin:0;padding:0;float:right}
.menu{margin:0 -20px}
.menu>li{float:left;position:relative}
.menu li a{display:block;padding:29px 25px;font:20px 'Ubuntu', arial;color:#fff;text-decoration:none;cursor:pointer}
.menu>li>a:hover{color:var(--golden)}
.fixed .menu li a:hover, .menu li ul a:hover{color:#004b59}
.menu li ul{max-height:0;overflow:hidden}
.menu li ul{position:absolute;top:80px;left:0;background:var(--golden);width:auto}
.menu li ul a{white-space:nowrap;padding:12px 20px;font-size:18px}
.menu .s>ul{max-height:600px;margin:-10px 0 10px 0}
.menu .sub>a::after{content:"";background-position:center;background-repeat:no-repeat;background-size:contain;transform:rotate(90deg);position:absolute;width:15px;height:15px;margin:5px}
.menu .sub>a{margin-right:20px}
.menu .sub.s>a::after{transform:rotate(-90deg)}
.menu li:last-child ul{right:20px;left:auto}

.menu .sub>a::after, .slider .prev, .slider .next{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4.303 7.4840002'%3E%3Cpath fill='%23fff' d='M4.307 3.74l-.562.56-3.18 3.182-.56-.56 3.18-3.182L.004.56l.56-.562 3.18 3.18z'/%3E%3C/svg%3E")}

.hslider .prev{left:20px !important}
.hslider .next{right:20px !important}
.hslider .slide .title{transition:all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1)}
.hslider .slide{transition:all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)}
.hslider .show{transition:all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1)}
.hslider .slide img{transition:all 5s linear}
.hslider .slide{position:absolute;top:0;left:0;opacity:0}
.hslider .slide:first-child{opacity:1}
.hslider .slide .title{bottom:-20px;opacity:0}
.hslider .show{opacity:1}
.hslider .show .title{bottom:0;opacity:1}
.hslider .show img{transform:scale(1.1)}

/* CONTENT PAGE */
.head{position:relative;height:550px;overflow:hidden;background-size:cover;background-position:center}
.head.thin{height:350px}
.head .title{position:absolute;bottom:0;width:100%;background:rgba(0,0,0,0.4);padding:500px 0 20px 0}
.head h2{font:60px 'Ubuntu', arial;color:#fff; text-align:center}
.content{padding:30px 0 60px 0;background:#fff;position:relative;margin-top:-40px;font:18px/30px 'Ubuntu', arial}
.content h3, .content h4, .content p, .content figure.small, .content figure figcaption, .content blockquote, .content ul, .content ol, .tags{width:650px;margin:0 auto}
.content h3{padding:30px 0 10px 0;font:normal 34px/42px 'Ubuntu', arial}
.content h4{padding:28px 0 8px 0;font:normal 30px/40px 'Ubuntu', arial}
.content p{padding:10px 0;font:18px/30px 'Ubuntu', arial}
.content blockquote::before{content:'ˮ';font-size:180px;float:left;margin:-32px 0 0 -75px}
.content blockquote{font-size:28px;line-height:normal}
.content ul, .content ol{list-style-position:inside;padding:0}
.content figure{margin:10px 0}
.content figure img{width:100%;max-height:600px;object-fit:cover}
.content figure.left{float:left;margin-right:40px;width:450px}
.content figure.right{float:right;margin-left:40px;width:450px}
.content figure.left figcaption, .content figure.right figcaption{width:100%;margin-bottom:10px}
.content figure.medium{width:850px;margin:0 auto}
.content figure.medium img{max-height:500px}
.content figure figcaption{color:var(--grey);font:italic 14px 'Ubuntu', arial}
.content a{text-decoration:underline;color:#004b59}
.content a:hover{text-decoration:none;background-color: var(--golden)}
.content .social{padding:15px 0;text-align:center}
.content .social li a svg{fill:#000}
.content .social li{margin:0}
.content .social li a{padding:10px 30px;width:30px;height:30px}
.content .social .share, .content .social .whatsapp{display:none}
.content p.author{font:16px/24px 'Ubuntu', arial}
.author b{display:block}
.author date{color:var(--grey)}
.tags{margin-top:30px;margin-bottom:10px}
.tags a{margin:0 10px 10px 0;border:1px solid var(--golden);border-radius:5px;padding:2px 10px;display:inline-block;white-space:nowrap}

.hire{margin:60px 0}
.hire ul{list-style:none;margin:0 auto;width:100%;padding:0;text-align:center}
.hire li{display:inline-block;padding-bottom:3px}
.hire li a{display:block;padding:30px 50px;color:var(--dark);text-align:center;font:18px 'Ubuntu', arial;background:#f2f2f2}
.hire li a img{width:130px;height:100px;display: block;margin:15px auto}
.hire li a:hover{background-color:var(--golden)}

/* HOME SLIDESHOW SECTION */
.hslider{display:inline-block;width:100%;margin-bottom:-3px;background:var(--dark)}
.slide .container{position:relative;background:linear-gradient(to top,transparent,rgba(0,0,0,1))}
.hslider .slides{width:100%;height:740px}
.slide, .slide .img, .slide img, .slide .imgs{width:100%;height:100%}
.slide .img{overflow:hidden}
.slide .imgs{background:rgba(0,0,0,0.4);position:absolute;top:0}
.slide img{transform:scale(1);object-fit:cover}
.slide .title{position:absolute;bottom:0;left:0;width:100%;z-index:3}
.hslider h3{width:80%;padding-bottom:80px}
.hslider h3 a{font:60px 'Ubuntu', arial;color:#fff;text-decoration:none}

/* Image zoom effect */
.z{overflow:hidden;display:block}
.z img{object-fit:cover;transition:all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);display:block}
.z:hover img{transform:scale(1.05)}

.cb{clear:both}

/* FEATURED SECTION - after slideshow on top */
.featured{position:relative;padding:60px 0 20px 0}
.featured .left{float:left;width:676px}
.featured .right{float:right;width:484px;margin-top:-40px}
.pb{position:absolute;top:0px;left:0;width:1078px;height:460px;background:url(assets/pattern.jpg)}
.yb{position:absolute;top:-40px;right:0;display:block;background:var(--golden);width:675px;height:535px}
.featured article{display:inline-block;position:relative;overflow:hidden;margin-bottom:20px;width:100%}
.featured .left article{height:450px}
.featured .right article{height:320px}
.featured img{width:100%;height:100%}
.featured article div{position:absolute;bottom:0;left:0;width:100%;background:linear-gradient(to bottom,transparent,rgba(0,0,0,0.8))}
.featured article h3{margin:0}
.featured h3 a{display: inline-block;padding:30px 20px 15px 20px;font:normal 34px 'Ubuntu', arial;color:#fff}
.featured .right h3 a{padding:30px 15px 10px 15px;font:normal 26px 'Ubuntu', arial}

/* Title of home sections */
.t, .t a{color:var(--dark)}
.t p{color:var(--grey)}
.t.w, .t.w a, .t.w p{color:#fff}

.t h2{font:normal 55px 'Ubuntu', arial;margin:0}
.t h2 a:hover{text-decoration:underline}
.t p{font-size:22px;margin:5px 0 0 0}

/* ROUTES SECTION */
.routes{background-image:linear-gradient(to top, rgba(0,75,89,1) 35%, rgba(0,75,89,0) 50%), url(assets/06.jpg);background-color:rgba(0,75,89,1);background-position:center top;background-repeat:no-repeat;padding-bottom:20px}
.routes, .routes a{color:#fff}
.routes .t{background:linear-gradient(to top,transparent,rgba(0,0,0,0.4));text-align:center;padding:60px 0 250px 0}
.routes .articles{margin:0 -20px}
.routes article{float:left}
.routes article>div{margin:0 20px 40px 20px}
.routes article:hover a, .routes article:hover p{color:var(--golden)}
.routes article .img{position:relative;overflow:hidden;display:inline-block;width:100%}
.routes article img{width:100%;height:360px}
.routes article .img div{position:absolute;bottom:0;background:linear-gradient(to bottom,transparent,rgba(0,0,0,0.8));width:100%}
.routes article .img div p{padding:30px 20px 15px 20px;font:bold 20px 'Ubuntu', arial}
.routes article .img div span{float:right}
.routes article h3{margin:10px 0}
.routes article h3 a{font:normal 32px 'Ubuntu', arial;color:#fff}
.routes article p{margin:0;font:18px/24px 'Ubuntu', arial}

/* TOUR GUIDE SECTION */
/* .tourguide{padding:60px 0;background:#f2f2f2}
.tourguide h3{margin:0 0 40px 0;font:normal 32px 'Ubuntu', arial;color:var(--dark);text-align:center}
.tourguide .articles{margin:0 -16px}
.tourguide article{float:left;margin:0 16px}
.tourguide img{width:100%}
.tourguide article>div{background:#fff;width:271px;margin:0 auto}
.tourguide article>div:hover{background:#004b59}
.tourguide article>div:hover a, .tourguide article>div:hover p{color:#fff}
.tourguide article h3{text-align:left;margin:0 20px}
.tourguide article h3 a{font:normal 22px 'Ubuntu', arial; color:var(--dark)}
.tourguide article p{margin:0;padding:10px 20px 20px 20px;font:18px/24px 'Ubuntu', arial;color:var(--grey)}
.tourguide button{display:none} */

/* WEATHER SECTION */
.weather{background-position:center top}
.weather .shadow{background:rgba(0,0,0,0.3);padding:60px 0;height:530px}
.weather, .weather a{color:#fff}
.weather .now{float:left;margin-top:285px;font-size:50px}
.weather .now a{color:#fff}
.weather .now b{display:block; border-bottom:1px solid #fff;padding-bottom:10px;margin-bottom:10px}
.weather .articles{float:right;margin:30px -10px 0 -10px}
.weather article{float:left;margin:0 10px;position:relative;overflow:hidden;display:inline-block;width:245px;height:400px}
.weather article img{width:100%;height:100%}
.weather article h3{position:absolute;top:0;left:0;background:rgba(0,0,0,0.3);width:100%;height:100%;margin:0}
.weather article h3:hover{background:rgba(0,0,0,0.5)}
.weather article h3 a{font:normal 26px/26px 'Ubuntu', arial;width:100%;height:100%;display: inline-block;text-align:right}
.weather h3 a b, .weather h3 a span{font-weight:normal;display:block;padding:20px 20px 0 0}
.weather h3 a span{padding-top:0}

/* MAP SECTION */
.mapInner{position:relative;padding:60px 0;background:#fff url(assets/map.png) no-repeat right 50px;height:890px;overflow:hidden}
.map{margin-top:-123px}
.map .circles, .map .circles div{position:absolute;border-radius:1000px}
.map .circles>div>div{left:200px;top:200px;width:300px;height:300px;background:radial-gradient(transparent,rgba(0,0,0,0) 120px, rgba(0,0,0,0.05) 150px);}
.map .circles>div{left:200px;top:200px;width:700px;height:700px;background:radial-gradient(transparent,rgba(0,0,0,0) 310px, rgba(0,0,0,0.05) 350px);}
.map .circles{right:-180px;top:-85px;width:1100px;height:1100px;background:radial-gradient(transparent,rgba(0,0,0,0) 500px, rgba(0,0,0,0.03) 550px);}
.mmap{position:relative;padding-top:60px}
.mmap>.container{position:relative;z-index:2}
.mmap .t p{display:none}
.points{margin:0;padding:0;list-style:none;position:absolute;top:50px;right:0;width:1117px;height:905px}
.points li{position:absolute}
.points li>div{
  border-radius:5px;box-shadow:0 0 10px rgba(0,0,0,0.2);
  opacity:0;visibility:hidden;
  padding:10px 15px;background:rgb(255, 255, 255, 0.97);width:auto;border:grey;
  position:absolute;bottom:15px;right:-40px;z-index:2
}
.points li>div::after{
  content:"";
  position:absolute;
  bottom:-19px;right:15px;width:0;height:0;opacity:0.97;
  border:10px solid transparent;border-top-color:#fff
}
.points li div img{width:100%;max-height:100px;margin:5px 0;border:1px solid transparent}
.points li div img:hover{border:1px solid var(--golden)}
.points li div.left, .points li div.right{width:265px}
.points li div.left p, .points li div.right p{-webkit-line-clamp:8}
.points li div.left div{float:right}
.points li div.left img{max-width:100px;max-height:165px;margin:3px 13px 3px 0;float:left}
.points li div.left p{width:150px}
.points li div.right div{float:left}
.points li div.right img{max-width:100px;max-height:165px;float:right;margin:3px 0 3px 13px}
.points li div.right p{width:150px}
.points li div a{font-weight:bold;white-space:nowrap;color:var(--dark);text-decoration:underline}
.points li div a:hover{color:var(--golden)}
.points li div p{width:200px;margin:5px 0 0 0;
  overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:5}
.points li::after{cursor:pointer;position:absolute;bottom:0;content:'';width:32px;height:32px;background:url(assets/pointer.svg);display:block;
  -webkit-filter:drop-shadow(0 0 10px rgba(0,0,0,0.2));filter:drop-shadow(0 0 10px rgba(0,0,0,0.2))}
.points li:hover>div{opacity:1;bottom:10px;visibility:visible}
.points li:hover::after{opacity:0;bottom:10px}

/* INSTAGRAM SECTION */
.instagram{margin:-40px 0 0 0;position:relative}
.instagram .t p{font:20px 'Ubuntu', arial;margin:0 0 30px 0}
.instagram a{color:#fff}

#i1{display:flex}
#i1 div{flex-basis:0;flex-grow:1}
#i1 img{width:100%;height:250px}
#i1 div{position:relative;overflow:hidden;display:inline-block}

#i1 div a{position:relative;opacity:0;position:absolute;top:0;left:0;background:rgba(0,0,0,0.3);display:inline-block;width:100%;height:100%;margin:0}
#i1 div a span{position:absolute;opacity:0;bottom:0;left:20px;}
#i1 div:hover, #i1 div.hover{flex-grow:4}
#i1 div:hover a, #i1 div.hover a{opacity:1}
#i1 div:hover a span, #i1 div.hover a span{bottom:15px;opacity:1}

/* STORIES SECTION */
.stories{padding:60px 0 30px 0}
.stories .t{text-align:center;margin-bottom:50px}
.stories .articles{margin:0 -20px}
article.pbox{float:left;margin:0 20px 30px 20px;width:366px}
article.pbox>div{background:#f2f2f2}
article.pbox>div:hover{background:var(--golden)}
article.pbox img{width:100%;height:270px}
article.pbox h3{text-align:left;margin:10px 20px}
article.pbox h3 a{font:normal 26px 'Ubuntu', arial; color:var(--dark);overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:4}
article.pbox p{padding:0 20px 20px 20px;margin:0;font:18px/24px 'Ubuntu', arial;color:var(--grey)}
article.pbox span{padding-right:15px}
article.pbox svg{width:15px;fill:var(--grey);margin-right:5px}

.archive{display:flex;flex-wrap:wrap;margin-top:30px}
.archive .pbox{width:353px}
nav.pg{margin:30px 0 50px 0;text-align:center}
nav.pg a, nav.pg span{padding:10px 15px;border-radius:30px;border:1px solid var(--golden);margin:0 5px;color:#004b59}
nav.pg a:hover{background:var(--golden)}
nav.pg span{color:var(--grey);border-color:var(--grey)}

/* FOOTER SECTION */
footer{background:#006274}
footer, footer a{color:#fff}
footer a:hover{color:var(--golden)}
.foot{padding:60px 0}
footer .logo{margin-top:-20px}
footer .logo svg{fill:var(--golden)}
footer .col p{margin:20px 0;font:18px/26px 'Ubuntu', arial}
.social li{margin:20px 35px 0 0;display:inline-block}
.social li a{opacity:0.5;display:inline-block;width:40px;height:40px}
.social li a svg{fill:#fff}
.social li a:hover{opacity:1}
footer .cols{margin:0 -25px}
footer .col{width:360px;float:left;margin:0 25px;}
.social, .list1, .list2, .list3{margin:0;padding:0;list-style:none}
.list1 a, .list2 a, .list3 a{display:inline-block;padding:3px 0}
.list1 a{padding:12px 0}
.list1 li:first-child a{padding-top:0}
.list1{font:normal 24px 'Ubuntu', arial}
.list2, .list3{font:normal 16px/22px 'Ubuntu', arial}
.list2 b, .list3 b{font:normal 24px 'Ubuntu', arial;display:inline-block;padding-bottom:5px}
.list2{float:left}
.list3{float:right;text-align:right}
.bar{background:#004b59;padding:10px 0;font-size:14px}
.bar p{display:inline-block}
.made{float:right}
.made a{color:#fff}


.slider{position:relative}
.slider button{position:absolute;top:50%}
.slider .prev{left:0;margin-top:-30px}
.slider .next{right:0}

.mod{display:none;position:fixed;z-index:10;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgba(0,0,0,0.6);text-align:center}
.mod:before{content:'';display:inline-block;height:100%;vertical-align:middle;margin-right:-4px}
.mod>div{display:inline-block;text-align:left;vertical-align:middle;position:relative;background:#fff;margin:auto}
.mod>div h2{text-align:center}
.mod .clx{cursor:pointer;position:absolute;top:0;right:0;width:25px;height:25px;padding:15px;
  -webkit-filter:drop-shadow(0 0 2px rgba(0,0,0,1));filter:drop-shadow(0 0 2px rgba(0,0,0,1))}
.mod .clx svg{fill:#fff}
.mod .c img{display:block;max-width:900px;max-height:800px}

/* subscribe form */
.ss{padding:50px;width:400px;height:280px}
.ss input{width:100%;border:0;border-bottom:2px solid grey;padding:5px 0;font:normal 18px 'Ubuntu', arial;margin:15px 0;outline:none;color:#24292e}
.ss input:focus{border-bottom-color:#24292e}
.ss button{outline:none;cursor:pointer;border-radius:99px;background:#004b59;color:#fff;font:22px 'Ubuntu', arial;padding:10px 30px;display:inline-block;border:none;margin:15px 0}
.ss button:hover, .ss button:focus{box-shadow:0 0 15px #24292e}
.ss button:active{box-shadow:none;margin:16px 0 14px 0}
.ss input, .ss button{transition:all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1)}

/* Tablets (portrait) ----------- */
@media only screen and (max-width : 1024px) {
  header{height:60px}
  .logo a{width:150px;padding:10px 0}
  footer .logo{text-align:center}
  footer .logo a{width:190px}
  .pb, .yb{width:100%}
  .featured h3 a, .featured .right h3 a{padding:40px 20px 15px 20px;font-size:22px}

  .container, .content figure figcaption{width:984px;margin:0 20px}
  .head .title{padding-bottom:0}
  .content .social .share, .content .social .whatsapp{display:inline-block}

  .menu li a{padding:20px 15px}
  .menu li ul{top:60px}
  .featured .left, .featured .right{width:482px}
  .featured .right{margin-top:0}
  .featured .right article:last-child{display:none}
  .featured .left article, .featured .right article{height:320px}
  .tourguide .articles{margin:0 -10px}
  .tourguide article{margin:0 10px}
  .tourguide article>div{width:231px}
  .weather article{width:200px}
  .routes .articles, .stories .articles, footer .cols{margin-left:-10px;margin-right:-10px}
  .routes article img{height:320px}
  article.pbox{width:314.6px}
  article.pbox img{height:230px}
  .routes article>div, article.pbox{margin:0 10px 30px 10px}
  .archive .pbox{width:308px}
  footer .col{width:314.6px;margin:0 10px}
}
@media only screen and (max-width : 768px) {
  *{outline:none}
  .container{width:425px;margin:0 auto}

  #burger, header .social{display:block}
  nav{position:fixed;top:0;left:0;background:var(--golden);width:100%;height:0;z-index:-1;max-height:820px;overflow:hidden}
  nav .social{opacity:0}
  nav.sh{height:100%}
  nav.sh .social{opacity:1}
  .menu{margin:60px 0;padding-bottom:150px;overflow-y:scroll;box-sizing:border-box;height:100%}
  .menu, .menu ul{float:none}
  .menu>li{float:none;border-bottom:1px solid #fff;margin:0 40px}
  .menu>li:last-child{border:0}
  .menu li ul{position:relative;top:0;right:0 !important}
  .menu li a{padding:25px;text-align:center;font-size:22px}
  .menu>li:last-child a{padding:25px}
  .menu li li a{padding:10px 0;text-align:center;border:0}
  .menu>li>a:hover{color:#004b59}
  .hslider .slides{height:500px}
  .hslider .show img{transform:scale(1.2)}
  .hslider h3{width:auto;padding-bottom:60px}
  .hslider h3 a{font-size:32px}
  .content{margin-top:0}
  .content h3, .content h4, .content p, .content blockquote, .content ul, .content ol, .tags{width:auto;margin:0 auto}
  .content figure, .content figure.medium, .content figure.small{width:auto;margin:10px -60px}
  .content figure.left{margin-right:-60px;width:auto}
  .content figure.right{margin-left:-60px;width:auto}
  .content figure figcaption{width:auto;margin:0 60px}
  .content .social li a{padding:10px 13px}
  .head{height:400px}
  .head.thin{height:300px}
  .head h2{font:34px 'Ubuntu', arial;text-align:left}
  .content{padding:30px 0;background:#fff;position:relative;margin-top:0}
  .content h3{font:normal 26px/30px 'Ubuntu', arial}
  .content h4{font:normal 22px/30px 'Ubuntu', arial}
  .content p{padding:10px 0;font:18px/30px 'Ubuntu', arial}
  .content blockquote::before{font-size:180px;float:none;display:block;margin:-30px 0 -115px 0}
  .hire{margin:30px 0}
  .hire li a{padding:10px 13px}
  .hire li a img{height:70px}
  .featured .left, .featured .right, .routes article, article.pbox, .archive .pbox{width:auto}
  
  .t h2{font-size:45px}
  .routes{padding-bottom:0}
  .routes .t{padding:60px 0 40px 0}
  .routes .articles{margin:0}
  .routes article>div{margin:25px 5px}
  .routes article img{height:300px;object-fit:cover}
  .routes article p{font-size:16px}
  .tourguide{padding:60px 0 30px 0}
  .tourguide .articles{margin:0}
  .tourguide article>div{width:271px;margin:0 auto}
  .tourguide article{margin:0 0 30px 0;width:100%}
  .tourguide article .img{text-align:center}
  .tourguide button{display:block}
  .weather .now{margin-top:20px;font-size:35px}
  .weather img{display:none}
  .map{margin-top:-100px;overflow-x:scroll}
  .mapInner{width:1100px}
  .mmap .t p{display:block}
  .weather article{width:auto}
  .weather .now, .weather .articles, .weather article{float:none}
  .weather article{display:block;height:65px;overflow:visible;margin-bottom:10px}
  .weather h3 a b, .weather h3 a span{display:inline}
  .weather article h3 a{padding:20px;text-align:left;width:auto;height:auto;display:block}
  .instagram{margin-top:60px}
  #i1{max-height:410px;overflow:hidden}
  .stories .articles, article.pbox{margin-left:0;margin-right:0}
  article.pbox>div{margin:0 5px}
  .bar{text-align:center}
  .bar p{display:block}
  .made{float:none}
  footer .cols{margin:0}
  footer .col{margin:0;float:none;width:auto}
  .foot{padding:60px 0 30px 0}
  .social{text-align:center}
  .social li{margin:20px 15px 30px 15px}
  .list2, .list3{display:none}
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 425px) {
  .container, .content figure figcaption{width:auto !important;margin:0 20px !important}
  .content figure{margin:10px -20px !important}
  .stories{padding-bottom:0}
  .featured .left article, .featured .right article{height:300px}
  .mod>div{width:auto;height:auto}
  .mod .c img{max-width:100%;max-height:100%}
  .ss{padding:30px;width:auto;height:auto}
  #i1 div:nth-child(7), #i1 div:nth-child(8), #i1 div:nth-child(9), #i1 div:nth-child(10), #i1 div:nth-child(11), #i1 div:nth-child(12), #i1 div:nth-child(13){display:none}
}

.simple-slider{overflow:hidden;position:relative}
.simple-slider .slider-wrapper{height:100%;position:relative;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-webkit-transition-timing-function:cubic-bezier(.7,0,.3,1);transition-timing-function:cubic-bezier(.7,0,.3,1)}
.slider:hover button{opacity:0.8}
.simple-slider .slider-pagination{text-align:center;width:100%;bottom:0;position:absolute}
.simple-slider .slider-pagination .pagination-bullet{display:inline-block;cursor:pointer;width:16px;height:5px;margin:4px;background-color:#fff;-webkit-transition:all .3s ease;transition:all .3s ease}
.simple-slider .slider-pagination .pagination-bullet.is-active{background-color:#999}
.slider button{opacity:0.4;border:0;width:50px;height:60px;top:40%;cursor:pointer;background-color:transparent;background-repeat:no-repeat;background-size:contain;position:absolute;-webkit-transform:translate(0,-50%);transform:translate(0,-50%);text-indent:-999px;overflow:hidden;outline:none}
.slider .prev{left:-10px;background-position:right;transform: rotate(180deg);}
.slider .next{right:-10px;background-position:right}
