<ul class=social>
  <% if(theme.instagram){ %>
  <li><a href='<%- theme.instagram %>' class="ic-instagram"></a></li>
  <% } %>
  <% if(theme.youtube){ %>
  <li><a href='<%- theme.youtube %>' class="ic-youtube"></a></li>
  <% } %>
  <% if(theme.twitter){ %>
  <li><a href='<%- theme.twitter %>' class="ic-twitter"></a></li>
  <% } %>
  <% if(theme.facebook){ %>
  <li><a href='<%- theme.facebook %>' class="ic-facebook"></a></li>
  <% } %>
</ul>
