<ul class=social>
  <% if(theme.instagram){ %>
  <li><a href='<%- theme.instagram %>'>
    <svg viewBox="0 0 453.54 453.54"><use xlink:href="#instagram"></use></svg>
  </a></li>
  <% } %>
  <% if(theme.facebook){ %>
  <li><a href='<%- theme.facebook %>'>
    <svg viewBox="0 0 453.54 453.54"><use xlink:href="#facebook"></use></svg>
  </a></li>
  <% } %>
  <% if(theme.twitter){ %>
  <li><a href='<%- theme.twitter %>'>
    <svg viewBox="0 0 453.54 453.54"><use xlink:href="#twitter"></use></svg>
  </a></li>
  <% } %>
  <% if(theme.youtube){ %>
  <li><a href='<%- theme.youtube %>'>
    <svg viewBox="0 0 453.54 453.54"><use xlink:href="#youtube"></use></svg>
  </a></li>
  <% } %>
</ul>
