<div class=tourguide>
  <div class="container">
    <h3>Need a local tour guide?<br>Here our trusty guys</h3>
    <div class="slider">
      <div class="articles tourguide-slider">
        <article class='z'>
          <div>
            <a href='#' class="z"><img loading="lazy" src="<%- url_for('assets/10.jpg') %>" alt="Local bazaar Gateway" /></a>
            <div>
              <h3><a href='#'>Maryam Sorush</a></h3>
              <p>She know everything about historical places, and can teach you how to speak with local people and make connection with childs!</p>
            </div>
          </div>
        </article>
        <article class='z'>
          <div>
            <a href='#' class="z"><img loading="lazy" src="<%- url_for('assets/11.jpg') %>" alt="Local bazaar Gateway" /></a>
            <div>
              <h3><a href='#'>Sayed Shah</a></h3>
              <p>He’s fun sky guy, knows more about mountains, sky, bike, and nature routes, Shah can speak English and french well.</p>
            </div>
          </div>
        </article>
        <article class='z'>
          <div>
            <a href='#' class="z"><img loading="lazy" src="<%- url_for('assets/12.jpg') %>" alt="Local bazaar Gateway" /></a>
            <div>
              <h3><a href='#'>Zara Ahadi</a></h3>
              <p>One of our best tour guide is Kamal have more than ten years experience and made 200 tours in all Bamyan great places.</p>
            </div>
          </div>
        </article>
        <article class='z'>
          <div>
            <a href='#' class="z"><img loading="lazy" src="<%- url_for('assets/13.jpg') %>" alt="Local bazaar Gateway" /></a>
            <div>
              <h3><a href='#'>Omid Jahan</a></h3>
              <p>He’s fun sky guy, knows more about mountains, sky, bike, and nature routes, Shah can speak English and french well.</p>
            </div>
          </div>
        </article>
      </div>
      <button class="prev">Prev</button>
      <button class="next">Next</button>
    </div>
  </div>
  <div class="cb"></div>
</div>
